body {
    background-color:burlywood;
  }

h1 {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

li {
    float: right;
    padding-right: 30px;
  }

.logo {
    display: flex;
    flex-direction: row;
    display: inline-block;
}

nav {
    
    display:inline-block;
    float: right;
}

ul {
    list-style: none;
}

@media (max-width: 900px) {
        body {
            background-color: grey;
        }
    }


