/* CSS files add styling rules to your content */
  
  h1 {
    font-style: italic;
    color: #FC4E00;
  }

  body {
    font-family: helvetica, arial, sans-serif;
    margin-left: 1em;
    margin-right: 1em;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  body {
    background-color: tan;
    color: black;
  }
  
  /* On screens that are 992px wide or less, the background color is blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: blue;
      color: white;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
      color: white;
    }
  }


  
  