  body {
    font-family: helvetica, arial, sans-serif;
    margin: 1em;
    height: 100%;
    padding: 10px;
  }

  .container {
    display: flex;
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    }

  .container > .new {
    margin-left: auto;
  }

  .new, .contact {
    margin-left:10px;
  } 

  a {
    text-decoration: none;
    color: black;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  button {
    border-radius: 10px;
    padding: 7px;
  }

  .popup-wrapper {
    background-color: #777777;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    display: none;
  }

  .popup {
  }

  .popup-content {
    text-align: center;
  }

  .close {
    position: relative;
    top: -100px;
    right: -150px;
    cursor: pointer;
  }

  


  
  