@font-face {
  font-family: 'apfel_grotezkregular';
  src: url(../fonts/apfelgrotezk-regular-webfont.woff2) format('woff2'),
  url(../fonts/apfelgrotezk-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:apfel_grotezkregular;
  font-size: 16px;
  line-height: 1.25;
  /*margin: 48px 240px 48px 48px;*/
  max-width: 1140px;
  /*margin: auto auto auto 100px;*/
}

div.statement {
  font-size: 80px;
  line-height: 1.1;
}

div.statement p {
  /*margin: 64px 0 0 0;*/
}

div.statement h1 span {
  display: inline-block;
  background-color: #001AF5;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  /*margin: 0 32px 0 0;*/
}

  a {
    text-decoration: none;
    color: black;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  small {
    display: block;
  }

  .web:hover {
    color: #FB443A;
    transition: 0.5s;
  }

  .music:hover {
    color: fuchsia;
    transition: 0.5s;
  }
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 1em;
  }
  footer {
    font-size: 0.8em;
  }
  div.statement h1 span {
    display: inline-block;
    background-color: crimson;
    width: 0.5em;
    height: 0.5em;
  }
  a {
    font-size: 1em;
    text-decoration: underline;
  }
}


  
  