@font-face {
  font-family: 'apfel_grotezkregular';
  src: url('https://ghsyafii.github.io/fonts/apfelgrotezk-regular-webfont.woff2') format('woff2'),
  url('https://ghsyafii.github.io/fonts/apfelgrotezk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


  body {
    font-family: helvetica, arial, sans-serif;
    margin: 1em;
    height: 100%;
    padding: 10px;
  }

  .container {
    display: flex;
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    }

  .container > .new {
    margin-left: auto;
  }

  .new, .contact {
    margin-left:10px;
  } 

  a {
    text-decoration: none;
    color: black;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  small {
    display: block;
  }



  
  